.projectpage{
    min-height: 100vh;
    /* width: 100%; */
    background:rgb(231, 247, 240);
}
.projectcontainer{
    min-height: 70vh;
    width: 100%;
    background-color:rgb(231, 247, 240);  
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:2vw;
}

.projectcard{
    max-height: 400px;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.projectcard img{
    max-height: 350px;
    width: 95%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 10px 15px 20px rgb(49, 84, 69) ;
}
.projecttext{
    height: 12vh;
    width: 100%; 
    display: flex;
    align-items: center;  
    justify-content: space-between;
padding: 1vw 3VW;
    /* background-color: brown; */
}
.projecttext h2{
    font-size: 2.4rem;
    color:rgb(31, 60, 48) ;
    font-weight: 600;
}
.projecttext img{
    /* background-color: red; */
    border-radius: 50%;
    height: 45px;
    width: 45px;
}