
.landingpg{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background :linear-gradient(rgb(231, 247, 240),rgb(231, 247, 240),white);
}
.blank{
    height: 12vh;
    background-color:rgb(231, 247, 240) ;
}
.p1container{
    height: 87vh;
    width: 100%;
    /* background-color: rgb(10, 69, 49);    */
    display: flex;
    padding: 10vw 10vw 5vw 10vw; 
}
.left{
    height: 100%;
    width: 60%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: end;
}
.textcontainer{
    min-height: 50%;
    width: 100%;
    /* background-color: brown; */
}
.textcontainer h4{
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(16, 45, 33);
    margin-bottom: 18px;
}
.textcontainer h1{
    font-size: 6.1rem;
    color: rgb(4, 34, 21);
    letter-spacing: 0.1vw;
    margin-top: 0.1vw;
    line-height:85px;
}
.textcontainer h2{
    font-size:2.3rem ;
    font-weight: 520;
    color: rgb(7, 39, 26);
    margin-top: 30px;
}
.textcontainer .aboutbtn{
    width: 110px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid rgb(3, 34, 21);;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 4vw;
    /* color:rgb(212, 248, 232);
    background-color: rgb(65, 84, 76);; */
    color: rgb(1, 30, 18);;
}
.right{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    /* background-color: red; */
}
.right img{
    height: 450px;
} 
