footer {
    height: 10vh;
    width: 100%;
    background-color: rgb(0, 13, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sociallink {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;

}

.sociallink img {
    height: 45px;
    width: 45px;
    margin-bottom: 3vw;

}

.sociallink img:last-child {
    height: 55px;
    width: 55px;
}

footer h2 {
    font-size: 1.5rem;
    line-height: 10vh;
    font-weight: 500;
    color: rgb(157, 212, 187);
}

.staytouch {
    height: 55vh;
    width: 100%;
    background-color: rgb(231, 247, 240);
}

.emailbox {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;

}

.emailbox input {
    width: 400px;
    font-size: 1.1rem;
    border: 1px solid rgb(132, 207, 176);
    color: green;
}

.emailbox #submit {
    width: 115px;
    font-size: 1.1rem;
    background-color: rgb(5, 30, 19);
    color: rgb(226, 244, 236);
}

/* responsive css */


@media (max-width:576px) {

    .staytouch .emailbox input {
        width: 250px;
    }
}

@media (max-width:430px) {
    .staytouch .emailbox {
        flex-direction: column;
    }

}