nav{
    min-height: 13vh;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: rgb(63, 110, 98);
    padding: 0 11vw 0 15vw;
    z-index: 999;
}

.centerelem{
    display: flex;
    min-width: 25vw;
    gap: 2vw;
    justify-content: space-between;
    
}
.leftelm h2{
    font-size:1.6rem ;
    font-weight: 500;
    color:  rgb(196, 231, 216);
}

.centerelem a, Link{
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(192, 230, 214);
    
}

.rightelem{
    height: 38px;
    width: 100px;
    background-color: rgb(86, 115, 103);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightelem h2{
font-size: 1.2rem;
font-weight: 700;
color:rgb(228, 247, 238);
}

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }
  
  .hamburger div {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: all 0.3s ease;
  }
  
  .hamburger.cross div:nth-child(1) {
    transform: rotate(45deg) translate(11px ,11px);
  }
  
  .hamburger.cross div:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.cross div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  @media (max-width: 768px) {
    nav{
        padding: 0;
        align-self: flex-start;
        
    }
    .centerelem {
        display: none;
        flex-direction: column;
        width: 100%;
        top:0;
        gap: 50px;
        align-items: flex-start;
        padding: 2vw;
    }
  
    .centerelem.active {
      display: flex;
      justify-content: center;
      align-items: center; /* Optional: To vertically center the links */
      flex-direction: column; /* Optional: To stack the links vertically */
      gap:20px;
    }
    .rightelem{
        width: 60px;
        background:transparent;
    }
    .rightelem h2{
        font-size: 0;
    }
  
    .hamburger {
        display: flex;
        position: relative;
    } 
  }


/* reponsive css */

@media (max-width:1200px){
  nav{
      padding: 0 5vw 0 8vw;
  }
}
@media (max-width:992px){
  .centerelem{
      gap:1.5vw;
  }
  nav{
      padding: 0 5vw;
  }
}
@media (max-width:822px){
  nav{
      padding: 0 4vw;
  }
  nav .leftelm h2{
      font-size: 1.4rem;
  }
  nav .centerelem{
      gap:1.7vw
  }
  nav .centerelem  a{
      font-size: 1.1rem;
      font-weight: 300;
  }
}