@media (max-width:1200px){
    .card{
        height: 43vh;   
    }
    nav{
        padding: 0 5vw 0 8vw;
    }
    .aboutpage .container{
        padding: 0 2vw;
        justify-content: space-between;
    }
}
@media (max-width:1040px){
    .projectcontainer{
       flex-direction: column;
    }
    .aboutpage .container{
        padding: 0 2vw;
        justify-content: space-between;
    }
    
   
}
@media (max-width:992px){
    .centerelem{
        gap:1.5vw;
    }
    nav{
        padding: 0 5vw;
    }
    .aboutpage .container{
       padding: 0 2vw;
       justify-content: space-between;
    }
    .aboutpage .aboutright{
        width: 50% 
    }
    .aboutpage .img{
        width: 50%;
    }
    .aboutpage img{
        height: 400px;
        width: 300px;
    }
}
@media (max-width:822px){
    nav{
        padding: 0 4vw;
    }
    nav .leftelm h2{
        font-size: 1.4rem;
    }
    nav .centerelem{
        gap:1.7vw
    }
    nav .centerelem  a{
        font-size: 1.1rem;
        font-weight: 300;
    }

    .left .textcontainer h4{
        font-size: 1.2rem;
    }
    .left .textcontainer h1{
        font-size: 5.5rem;
    }
    .left .textcontainer h2{
        font-size: 1.9rem;
    }
    .right img{
        margin-right: 2.5vw;
    }

    .aboutpage .container .img img{
        height: 40vh;
        width: 35vh;
    }
    .aboutpage .container .sociallink img{
        height: 35px;
        width: 35px;
    }

    .servicepage .card{
        height: 50vh;
        width: 300px;
    }
    .projectcontainer .projectcard{
        width: 470px;
    }
    .projectcard img{
       height: 270px;
    }
}
@media (max-width:744px){


    .landingpg .right img{
        height: 45vh;
    }
    .landingpg .textcontainer h2{
        font-size: 2rem;
    }
   .landingpg .p1container {
   padding: 5vw;
   }
   .aboutpage .container{
     flex-direction: column;
     align-items: center;
     gap: 5vw;
     height: 90vh;
   }
   .aboutpage .aboutright{
    width: 100%;
   }
   .aboutpage .textbox{
        display: flex;
        flex-direction: column;
        align-items: center;
   }
   .aboutpage .textbox p{
    text-align: center;
    font-size: 1rem;
   }
   .servicepage .tittle{
    text-align: center;
  }
  .servicepage .cardcontainer{
    flex-direction: column;
    height: 130vh;
}
}
@media (max-width:576px){
  
    .landingpg .p1container{
        flex-direction: column-reverse;
        /* align-items: center; */
    }
    .landingpg .p1container{
        height: 100vh;
    }
    .landingpg .left{
        width: 100%;
    }
    .landingpg .right{
        width: 100%;
    }
    .landingpg .right img{
        height: 40vh;
        margin-top: 10vw;
    }

    .aboutpage .container{
        height: 105vh;
    }
    .aboutpage .container{
        flex-direction: column;
        align-items: center;
    }
    .aboutpage .img{
        width: 80%;
        
    }
    .aboutpage .img img{
        height: 50vh;
        width: 45vh;
    }

    .servicepage .tittle{
      text-align: center;
    }
    .servicepage .cardcontainer{
        flex-direction: column;
        height: 130vh;
    }
    
    .staytouch .emailbox input{
        width: 250px;
    }
    .projectcontainer .projectcard{
        width: 80%;
        height: 90%;
    }
   


}
@media (max-width:430px){

   .blank{
    height: 10vh;
   }
   .landingpg{
    height: 75vh;
   }
   .landingpg .right img{
    height: 30vh;
   }
   .landingpg .p1container{
    height: 68vh;
   }
   .p1container .textcontainer h4{
        font-size: 1rem;
        margin-bottom: 5px;
   }
   .p1container .textcontainer h1{
    font-size: 4.4rem;
    line-height: 75px;
   }
   .p1container .textcontainer h2{
    font-size: 1.4rem;
    margin-top: 15px;
   }
   .p1container .textcontainer .aboutbtn{
    height: 0;
    width: 0;
    font-size: 0;
    visibility: hidden;
   }    

   .aboutpage .img{
    height: 65%;
    width: 80%;
    border-radius: 20px;
    /* overflow: hidden; */
   }
   .aboutpage .textbox p{
    text-align: start;
    margin-bottom: 25px;
   }
   .aboutpage .textbox button{
    height: 4.5vh;
    width: 120px;
    font-size: 1rem;
   }

   .servicepage .card{
    height: 50vh;
    width: 280px;
   }
   .servicepage .language{
    flex-wrap: wrap;
    height: 25vh;
   }

   .staytouch .emailbox{
    flex-direction: column;
   }
  
}
@media(max-width:590px){
    .projectcontainer .projectcard{
        width: 400px;
    }
    .projectcard img{
       height: 240px;
    }
}
@media(max-width:410px){
    .projectcontainer .projectcard{
        width: 330px;
    }
    .projectcard img{
       height: 220px;
    }
}