.contactpage{
    height: 100vh;
    width: 100vw;
    background-color: rgb(231, 247, 240);
}
.contactcontainer{
    height: 60vh;
    width: 100%;
    /* background-color: black; */
    display: flex;
    padding: 0 12vw;
}
.mydets{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mydets .text{
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.mydets h2{
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 1.7vw;    
    color: rgb(41, 84, 65);
}
.mydets .heading{
    font-weight: 650;
    color: rgb(3, 35, 22);   
}
form{
    height: 30vh;
    width: 100%;
    display: flex;
    /* background-color: rgb(46, 108, 161); */
    flex-direction: column; 
}
input{
    height: 6vh;
    border-radius: 5px;
    border: none;
    margin-top: 1.5vw;
    padding: 0px 1vw;
    font-size: 1.2vw;
}
textarea{
    height: 10vh;
    font-size: 1.2vw;
    padding: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5vw;
    border: none;
    border-radius: 5px;
}
